.about {
	grid-column: 2 / 5;
	display: flex;
	padding: 12rem 0;

	@media only screen and (max-width: $bp-medium) {
		grid-column: 1 / 6;
		margin: 0 15rem;
		padding: 7rem 0;
	}

	@media only screen and (max-width: $bp-small) {
		margin: 0 5rem;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 5rem;
		font-size: 2.4rem;

		@media only screen and (max-width: $bp-large) {
			padding-left: 0;
			align-items: center;
			text-align: justify;
		}
	}

	&__img {
		max-width: 50%;

		@media only screen and (max-width: $bp-large) {
			display: none;
		}
	}

	&__btn {
		position: relative;
		width: 22rem;
		margin-top: 3rem;
		padding: 1.25rem 2.5rem;
		border: none;
		border-radius: 5px;
		font-size: 1.8rem;
		background-color: $color-primary;
		color: $color-grey-light;
		cursor: pointer;
		box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
		transition: all .5s;

		&::after {
			content: '»';
			position: absolute;
			right: -20px;
			opacity: 0;
			transition: all .5s;
		}

		&:hover::after {
			right: 15px;
			opacity: 1;
		}

		&:hover {
			padding-right: 24px;
			padding-left: 8px;
		}
	}
}