.contact {
	grid-column: 1 / 6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10rem;
	padding-bottom: 17.5rem;
	background-color: #fff;

	@media only screen and (max-width: $bp-largest) {
		padding-top: 7rem;
	}

	@media only screen and (max-width: $bp-medium) {
		padding-bottom: 20rem;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-top: 3rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: -20%;
		top: 10%;
		padding: 5rem;
		background-color: $color-grey-light;
		z-index: 10;
		box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);

		@media only screen and (max-width: $bp-largest) {
			left: -10%;
		}

		@media only screen and (max-width: $bp-medium) {
			left: 5%;
			top: 5%;
		}

		@media only screen and (max-width: $bp-small) {
			position: static;
		}

		& textarea {
			 resize: vertical;
		}
	}

	&__form-input {
		margin: 1.5rem 0;
		padding: 1rem 1.5rem;
		font-size: 1.6rem;
		outline: none;
		border: none;
		border-bottom: 3px solid #fff;
		font-family: Montserrat, sans-serif;
		transition: all .5s;

		&:focus {
			border-bottom: 3px solid $color-primary-light;
		}
	}

	&__btn {
		position: relative;
		margin-top: 2rem;
		padding: 1rem 1.5rem;
		border: none;
		border-radius: 10rem;
		overflow: hidden;
		text-transform: uppercase;
		font-size: 1.8rem;
		letter-spacing: .10rem;
		color: #fff;
		z-index: 1;
		cursor: pointer;
		transition: all .3s;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-primary-light;
			border-radius: 10rem;
			z-index: -2;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			background-color: darken($color-primary-light, 15%);
			transition: all .3s;
			border-radius: 10rem;
			z-index: -1;
		}

		&:hover {
			color: #fff;

			&:before {
				width: 100%;
			}
		}
	}

	&__img {
		margin-left: 50%;
		filter: contrast(1.1);

		@media only screen and (max-width: $bp-largest) {
			width: 57.5rem;
			margin-left: 40%;
		}

		@media only screen and (max-width: $bp-medium) {
			width: 50%;
			margin-top: 7.5rem;
		}

		@media only screen and (max-width: $bp-small) {
			display: none;
		}
	}
}