.header {
	grid-column: 1 / 6;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}

	&__quote {
		margin-right: 7.5rem;
		font-size: 4.5rem;
		color: $color-grey-light;
		text-align: center;

		@media only screen and (max-width: $bp-large) {
			margin-right: 5rem;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-right: 0;
			margin-bottom: 5rem;
			text-align: center;
		}

		@media only screen and (max-width: $bp-small) {
			font-size: 4rem;
		}

		& span {
			font-size: 6rem;
			color: $color-primary-light;
			line-height: 1rem;
		}
	}

	&__btn {
		margin-left: 7.5rem;
		border: 3px solid $color-grey-light;
		cursor: pointer;
		transition: all .2s;

		@media only screen and (max-width: $bp-large) {
			margin-left: 7.5rem;
		}

		@media only screen and (max-width: $bp-medium) {
			margin-left: 0;
		}

		& a {
			display: block;
			padding: 1rem 3rem;
			font-size: 4rem;
			color: $color-grey-light;
			text-decoration: none;
			transition: all .2s;

			&:hover {
				color: $color-primary-light;
			}
		}

		&:hover {
			animation: scaling .5s infinite alternate;
			border: 3px solid $color-primary;
		}
	}
}

@keyframes scaling {
	from	{
	   transform: scale(1);
	}
	to	{
	   transform: scale(1.05);
	}
}