.nav {
	grid-column: 1 / 6;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.5rem 1.2rem;
	z-index: 100;
	background-color: #000;

	&__header {
		margin-left: 3rem;
	}

	&__hamburger {
		display: none;

		@media only screen and (max-width: $bp-large) {
			display: block;
			margin-right: 3rem;
			cursor: pointer;

			&.active .bar:nth-child(2) {
				opacity: 0;
			}

			&.active .bar:nth-child(1) {
				transform: translateY(9px) rotate(45deg);
			}

			&.active .bar:nth-child(3) {
				transform: translateY(-9px) rotate(-45deg);
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;

		@media only screen and (max-width: $bp-large) {
			position: fixed;
			flex-direction: column;
			left: -100%;
			top: 7rem;
			width: 100%;
			background-color: #000;
			text-align: center;
			transition: 0.3s;

			&.active {
				left: 0;
			}
		}
	}

	&__item {
		margin: 0 1.2rem;
		list-style-type: none;
		font-size: 2.2rem;
		font-weight: 700;
		transition: transform .2s;

		&:last-child {
			margin-right: 3rem;
		}

		@media only screen and (max-width: $bp-large) {
			margin: 2rem 0;

			&:last-child {
				margin-right: 0;
			}
		}

		&:hover:not(:first-child) {
			transform: scale(1.1);
		}
	}

	&__link {
		text-decoration: none;
		color: $color-grey-light;
		transition: all .5s;

		&::after {
			display: block;
			transform: scaleX(0);
			height: 2px;
			background: $color-primary-light;
			border-right: 1px white;
			content: '';
			transition: transform 150ms ease-in-out;
		}

		&:hover::after {
			transform: scaleX(1);
			color: $color-primary-light;
		}

		&:hover {
			color: $color-primary-light;
		}
	}

	&__logo {
		font-size: 4rem;
		color: $color-primary;
		transition: all .5s;

		& span {
			letter-spacing: 5px;
		}

		&:hover {
			color: $color-primary-light;
		}
	}
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6.5px auto;
	z-index: 100;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}