.pricing {
	grid-column: 1 / 6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10rem 0;


	@media only screen and (max-width: $bp-medium) {
		padding: 7rem 0;
	}

	&__list {
		display: flex;

		@media only screen and (max-width: $bp-medium) {
			flex-direction: column;
		}
	}

	&__plan {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 32.5rem;
		margin: 0 2rem;
		margin-top: 3rem;
		background-color: #fff;
		font-family: 'Montserrat', sans-serif;
		transition: all .2s;

		@media only screen and (max-width: $bp-large) {
			width: 27.5rem;
		}

		@media only screen and (max-width: $bp-medium) {
			width: 35rem;
			margin-top: 5rem;
		}

		&:hover {
			transform: scale(1.035);
		}
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10rem;
		padding: 2rem 0;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
		background-color: #bdbdbd;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

		& h3 {
			font-weight: 400;
		}

		&.recommended {
			background-color: $color-primary;
			color: $color-grey-light;
		}
	}

	&__price {
		width: 100%;
		margin-top: -2rem;
		padding: 4rem 0 2rem;
		background-color: #dfdfdf;
		text-align: center;
		font-size: 2rem;
		font-weight: bold;

		& span {
			font-weight: 400;
		}
	}

	&__details {
		padding: 2rem 0;
		width: 100%;
		text-align: center;

		& ul {
			list-style-type: none;
			font-size: 1.8rem;
		}

		& i {
			margin-right: 1rem;
			font-size: 2rem;
			color: $color-primary;

			&.fa-times {
				color: #ff3b3b;
			}
		}

		& li {
			padding: .75rem 0;
			border: none;
			transition: background-color .5s ease-out, border-left .3s;

			&:hover {
				background-color: #dfdfdf;
				border-left: 4px solid $color-primary;
			}
		}
	}

	&__btn-box {
		margin-bottom: 2.5rem;
	}

	&__btn {
		padding: 1rem 2rem;
		outline: none;
		border: 2px solid $color-primary;
		border-radius: 25px;
		background: transparent;
		color: $color-primary;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 2rem;
		transition: all .2s;

		&.recommended {
			background-color: $color-primary;
			color: $color-grey-light;
		}

		&:hover {
			background-color: $color-primary;
			color: $color-grey-light;
		}
	}
}